@import "tailwindcss";

/* :root {
  --brand-gradient: linear-gradient(
    to right,
    #f97316,
    #ec4899,
    #7c3aed
  );
}

.brand-gradient {
  background: var(--brand-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.brand-gradient-bg {
  background: var(--brand-gradient);
} */